.DS_Store

# Local test stuff
biomod2-tutorial-material-jono/
biomod2-tutorial-material-master.zip
jonoTestCode/
paleoReef-main.zip
paleoReef-main/
climateModelData/
plasimGenieWorkflows/photozoan/

# Big files
*.nc
*.png
*.jpg
*.tif
*.csv
*.pdf

climateModelData/

